.tile .card-body {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tile {
    margin-top: 25px;
    cursor: pointer;
}
.card-footer .pricing {
    vertical-align: -webkit-baseline-middle;
}